<div class="mask" ng-if="loading">
		<p class="load">正在加载.....</p>
</div>

<h1 class="page-header">{{title}}</h1>
<h2 ng-if="message">{{message}}</h2>
 <div class="list-group">
  <a ng-repeat="item in subjects" href="#" class="list-group-item active">
  <span class="badge">{{item.rating.average}}</span>
    <div class="media">
  <div class="media-left">

      <img class="media-object" ng-src="{{item.images.small}}" alt="{{item.title}}">

  </div>
  <div class="media-body">
    <h3 class="media-heading">{{item.title}}</h3>
    <p>导演: <span ng-repeat="d in item.directors">{{d.name}}</span>
	<span ng-if="!$last">、</span>
    </p>
    <p>类型: <span>{{item.genres.join('、')}}</span></p>
  </div>
</div>
  </a>

</div>

<div ng-show="!loading">
<p>共 {{totalCount}} 条记录 第 {{currentPage}}/{{totalPages}}页</p>
	<nav aria-label="...">
  <ul class="pager">
  	<li><a ng-click="go(currentPage-1)">上一页</a></li>
  	<li><a ng-click="go(currentPage+1)">&nbsp;&nbsp;下一页</a></li>
  </ul>
</nav>
</div>


